body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Align the flex items in a column */
  justify-content: flex-start; /* Align to the start of the page */
  align-items: center;
  min-height: 100vh; /* Use min-height to cover the full viewport height */
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 800px;
  margin-top: 20px; /* Add some space between the user info and the container */
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #5cb85c;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #4cae4c;
}

/* Utility class for spacing */
.mt-20 {
  margin-top: 20px;
}

#user-info {
  width: 100%; /* Span the full width */
  display: flex;
  justify-content: flex-end; /* Align the logout button to the right */
  padding: 10px; /* Add some padding */
}

#logout-button {
  background-color: transparent;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 20px; /* Add some right margin */
}